%button.post-user-button.btn.btn-outline-secondary{ type: "button", data: { bs_toggle: "modal", bs_target: "#user-modal", action: "click->application#clickPostUserButton", user_src: user_path(user_id) } }
  %i.user-icon.bi.bi-person-fill
  %span= user_name
  