= form_with model: Post.new, id: "post-form", class: "bg-white fixed-bottom d-flex flex-row gap-2 p-1" do |form|
  = form.hidden_field :last_post_created_at, name: "last_post_created_at", value: (last_post&.created_at || Time.current).iso8601(6)
  = form.text_field :content, class: "form-control"
  = form.submit "投稿する", class: "btn btn-primary"
